<div class="min-h-screen flex bg-gray-900 text-white">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-800 p-6 flex flex-col justify-between shadow-lg">
    <div>
      <h2 class="text-2xl font-bold text-pink-400 mb-6 text-center">Hola, {{ user?.name }}</h2>
      <nav class="space-y-3">
        <a routerLink="/dashboard/personas/crear" routerLinkActive="font-bold text-pink-400"
          class="block px-4 py-2 rounded hover:bg-gray-700 transition">➕ Crear Persona</a>
        <a routerLink="/dashboard/personas" routerLinkActive="font-bold text-pink-400"
          class="block px-4 py-2 rounded hover:bg-gray-700 transition" [routerLinkActiveOptions]="{ exact: true }">👥
          Personas</a>
        <a routerLink="/dashboard/graficas" routerLinkActive="font-bold text-pink-400"
          class="block px-4 py-2 rounded hover:bg-gray-700 transition">📊 Gráficas</a>
        <a routerLink="/dashboard/auditorias" routerLinkActive="font-bold text-pink-400"
          class="block px-4 py-2 rounded hover:bg-gray-700 transition">🕵️ Auditorías</a>
      </nav>
    </div>

    <button
      (click)="logout()"
      class="mt-10 w-full bg-pink-600 hover:bg-pink-700 transition text-white px-4 py-2 rounded text-sm font-semibold"
    >
      🔒 Cerrar sesión
    </button>
  </aside>

  <!-- Contenido -->
  <main class="flex-1 p-6 overflow-y-auto bg-gray-900">
    <router-outlet></router-outlet>
  </main>
</div>
