<main class="p-6 bg-[#1f2937] text-white min-h-screen">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold text-[#ec4899]">Lista de Personas</h2>
    <button
      (click)="nueva()"
      class="bg-[#ec4899] hover:bg-pink-500 text-white px-4 py-2 rounded transition"
    >
      + Nueva persona
    </button>
  </div>

  <ng-container *ngIf="loading; else content">
    <p class="text-center text-gray-300">Cargando...</p>
  </ng-container>

  <ng-template #content>
    <div class="overflow-x-auto rounded shadow">
      <table class="w-full text-left table-auto bg-[#111827] border border-gray-700">
        <thead class="bg-[#ec4899] text-white">
          <tr>
            <th class="px-4 py-2">Nombre</th>
            <th class="px-4 py-2">Edad</th>
            <th class="px-4 py-2">Género</th>
            <th class="px-4 py-2 text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (p of personas; track p.id) {
            <tr class="border-t border-gray-700 hover:bg-gray-800">
              <td class="px-4 py-2">{{ p.nombre }} {{ p.apellidoPaterno }} {{ p.apellidoMaterno }}</td>
              <td class="px-4 py-2">{{ p.edad }}</td>
              <td class="px-4 py-2 capitalize">{{ p.genero }}</td>
              <td class="px-4 py-2 text-center space-x-2">
                <button
                  class="bg-yellow-500 hover:bg-yellow-600 text-black px-3 py-1 rounded"
                  (click)="editar(p.id)"
                >
                  Editar
                </button>
                <button
                  class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded"
                  (click)="eliminar(p.id)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mt-6 flex justify-center items-center space-x-4">
      <button
        (click)="loadPersonas(meta!.currentPage - 1)"
        [disabled]="meta?.currentPage === 1"
        class="px-3 py-1 rounded border border-gray-500 hover:bg-gray-700 disabled:opacity-50"
      >
         Anterior
      </button>
      <span class="text-gray-300">
        Página {{ meta?.currentPage }} de {{ meta?.lastPage }}
      </span>
      <button
        (click)="loadPersonas(meta!.currentPage + 1)"
        [disabled]="meta?.currentPage === meta?.lastPage"
        class="px-3 py-1 rounded border border-gray-500 hover:bg-gray-700 disabled:opacity-50"
      >
        Siguiente 
      </button>
    </div>
  </ng-template>
</main>
